<h2>Drink Again</h2>
<ul>
  <li>
    <app-wine-list [isNew]="true" [isFinished]="false"></app-wine-list>
  </li>
  <li>
    <app-wine-list [isFinished]="false"></app-wine-list>
  </li>
  <li>
    <app-wine-list [isNew]="true" [isFinished]="false"></app-wine-list>
  </li>
  <li>
    <app-wine-list [isFinished]="false"></app-wine-list>
  </li>
  <li>
    <app-wine-list [isNew]="true" [isFinished]="false"></app-wine-list>
  </li>
  <li>
    <app-wine-list [isFinished]="false"></app-wine-list>
  </li>
  <li>
    <app-wine-list [isFinished]="false"></app-wine-list>
  </li>
  <li>
    <app-wine-list [isFinished]="false"></app-wine-list>
  </li>
</ul>
