<h2>Keep Drinking</h2>
<ul>
  <li>
      <app-wine-keep-drink-list></app-wine-keep-drink-list>
  </li>
  <li>
    <app-wine-keep-drink-list></app-wine-keep-drink-list>
  </li>
  <li>
    <app-wine-keep-drink-list></app-wine-keep-drink-list>
  </li>
  <li>
    <app-wine-keep-drink-list></app-wine-keep-drink-list>
  </li>
  <li>
    <app-wine-keep-drink-list></app-wine-keep-drink-list>
  </li>
  <li>
    <app-wine-keep-drink-list></app-wine-keep-drink-list>
  </li>
  <li>
    <app-wine-keep-drink-list></app-wine-keep-drink-list>
  </li>
  <li>
      <app-wine-keep-drink-list></app-wine-keep-drink-list>
  </li>
</ul>
